* {
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: lightgray;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.website-title {
  font-family: 'Amatic SC', cursive;  
  font-size: 4rem;
  margin: 0;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  color:#A65B59;
}

.nav-bar {
  background-color: #59a4a6;
  color: black;
}


.MuiButton-root	 {
  background-color: #59a4a6;
  color: red;
  margin: 1em;
}


/* CSS */
.button-18 {
  align-items: center;
  background-color: #59a4a6;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-bottom: 2em;

}

.button-18:hover{ 
  background-color: #A65B59;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.add-btn {
  margin-top: 1em;
  display: inline-block;
}

.blog-list, .user-list {
  font-size: 2.5rem;
}

.text-field {
  margin-top: 0.5em;
}

.footer {
  margin-top: 2em;
}

.like-btn {
  background-color: #59a4a6;
}

.delete-btn {
  background-color: rgb(144, 144, 144);
  margin-top: 1em;
}

.comments-title {
  font-size: 2rem;
}

.comment-wrapper {
  padding-left: 0.1em;
}

a {
  color: rgb(0, 0, 0); 
  text-decoration: none;
}

a:hover {
  color: #A65B59;
}

.login-btn {
  margin-top: 1em;
}

.forgot-pw {
  margin-top: 1em;
  margin-right: 1em;
}

.cancel-btn-pw {
  margin-top: 4em;
}

.register-btn {
  margin-top: 1em;
}

.loggedin-user {
  color: #A65B59;
}

#blogTitle {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  font-weight: 600;
}

.blog-url {
  font-size: 1.3rem;
  margin-bottom: 4em;
  color: #A65B59
}

.blog-url:hover {
  font-size: 1.3rem;
  margin-bottom: 4em;
  color: #59a4a6;
}

.likes-wrapper {
  margin-top: 2em;
  display: flex;
  gap: 1em;
  align-items: center;
}

.footer {
  font-weight: 400;
  font-size: 1rem;
}


.added-by-name {
  font-style: italic;
  font-weight: 400;
}

.add-comment-title {
  font-weight: 400;
}

.ri-heart-line:hover {
  color: #FF5858;
  
}

.user-name, .blog-number, .blog-name-list, .blog-list-likes {
  font-family: 'Raleway', sans-serif;

}
